<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AffinityClient.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <AffinityClient.Properties.Settings>
            <setting name="AffinityClient_localhost_WsProcessor" serializeAs="String">
                <value>http://localhost:3512/affinity/WsProcessor.asmx</value>
            </setting>
        </AffinityClient.Properties.Settings>
    </applicationSettings>
</configuration>