/* ###################################################################### */
table.basic
{
    border-collapse: collapse;
    border: none;
    font-size: 11pt;
}

table.basic tr
{
    vertical-align: top;
    border: none;
}

table.basic th, table.basic td
{
    margin: 0px;
    padding: 3px 5px 3px 5px;
    border: none;
}

table.basic td
{
    background-color: #ffffff;
    color: inherit;
    border-bottom: dotted 1px #bbbbbb;
}

table.basic td.odd, table.basic tr.odd td
{
    background-color: #fafafa;
}

table.basic th
{
    text-align: left;
    font-weight: bold;
    background-color: #dddddd;
    color: inherit;
    border-bottom: solid 1px #bbbbbb;
}

table.basic td.footer
{
    font-weight: bold;
}

table.basic .numeric
{
	text-align: right;
	white-space: nowrap;
}


/* ###################################################################### */
table.subtle
{
    border-collapse: collapse;
    font-size: 11pt;
    border-top: solid 1px #bbbbbb;
    border-right: solid 1px #bbbbbb;
}

table.subtle tr
{
    vertical-align: top;
    border: none;
}


table.subtle th, table.subtle td
{
    margin: 0px;
    padding: 3px 5px 3px 5px;
    border-left: solid 1px #bbbbbb;
}

table.subtle td
{
    background-color: #ffffff;
    color: inherit;
    border-bottom: solid 1px #bbbbbb;
    border-left: solid 1px #bbbbbb;
}

table.subtle td.odd, table.subtle tr.odd td
{
    background-color: #eaf0f8;
}

table.subtle th
{
	background-image: url("../images/th_bg_gradient_blue.gif");
    background-repeat: repeat-x;
    color: #333333;
    text-align: left;
    font-weight: bold;
    background-color: #6A9BCE;
    color: inherit;
    border-bottom: solid 1px #bbbbbb;
}

table.subtle th a
{   
    color: #333333;
}


table.subtle td.footer
{
    font-weight: bold;
}

table.subtle .numeric
{
	text-align: right;
	white-space: nowrap;
}

/* ###################################################################### */
table.oldschool
{
    border-collapse: collapse;
    border: none;
	font-family: Courier New;
	font-size: 8pt;
}

table.oldschool tr
{
    vertical-align: top;
    border: none;
}

table.oldschool th, table.oldschool td
{
    margin: 3px;
    padding: 3px 5px 3px 5px;
}

table.oldschool th
{
    background-color: #dddddd;
    font-weight: bold;
	font-size: 10pt;
}

table.oldschool td
{
    border: solid 1px #000000;
}

table.oldschool th
{
    text-align: left;
    font-weight: bold;
    border: solid 1px #000000;
}

/* ###################################################################### */
table.bluecube
{
    border-collapse: separate;
    border: none;
}

table.bluecube tr
{
    vertical-align: top;
    border: none;
}

table.bluecube th, table.bluecube td
{
    margin: 0px;
    padding: 3px 5px 3px 5px;
    border: none;
}

table.bluecube td
{
    background-color: #99CCFF;
    color: inherit;
}

table.bluecube th
{
    text-align: left;
    font-weight: bold;
    background-color: #336699;
    color: #ffffff;
}

/* ###################################################################### */
table.corporate
{
    border-collapse: collapse;
    border: none;
}

table.corporate tr
{
    vertical-align: top;
    border: none;
}

table.corporate th, table.corporate td
{
    margin: 0px;
    padding: 3px 5px 3px 5px;
    border: solid 1px #336699;
}

table.corporate td
{

}

table.corporate th
{
    text-align: left;
    font-weight: bold;
    background-image: url(images/gradient_1.gif);
    background-repeat: repeat-x;
    color: #000000;
    background-color: inherit;
}